.card-label__container{
  position: absolute;/*deixa componente na frente do componente pai*/
  bottom: 90px;
  right: 0;/*fixa a direita do pai*/
}

.card-label__content{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d0d0dc5;
  color: white;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  height: 40px;
  padding: 0px 50px;
}
